@{
    ViewBag.Title = "Korzina";
}
<a href="Index">Вернуться на главную страницу</a>

<table class="table">
    <tr>
        <th><p>Номер билета</p></th>
        <th><p>Откуда</p></th>
        <th><p>Куда</p></th>
        <th><p>Дата отправления</p></th>
        <th><p>Цена</p></th>
        
    </tr>


    @foreach (var p in ViewBag.Korzinas as IEnumerable<Korzina>)
    {
        <tr>
            
            <td><p>@p.Flight_number</p></td>
            <td><p>@p.otkuda.Otkud</p></td>
            <td><p>@p.kuda.Kud</p></td>
            <td><p>@p.DateP</p></td>
            <td><p>@p.Price</p></td>
            <td><a href="/Home/Cancel/@p.Id">Удалить</a></td>
            
        </tr>
    }
</table>

<a href="/Home/ExecuteOrder">Оформить заказ</a>
{
}
<style>
    .table td {
        border: 1px solid black;
    }

    .table tr:hover td {
        background: deepskyblue;
    }

    .table th {
        border: 1px solid black;
        .table tr:hover td:after

    {
        border-top: 3px solid blue;
        border-bottom: 3px solid blue;
    }

    .table tr:active td {
        background: blue;
    }
</style>